<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220565258355-ao5i2ote6cl3aii155c6temomoijdfcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220565258355-ao5i2ote6cl3aii155c6temomoijdfcv</string>
	<key>API_KEY</key>
	<string>AIzaSyAm86rcTtzYO3QXnF3KnoPLE5BN3rTFCJg</string>
	<key>GCM_SENDER_ID</key>
	<string>220565258355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlexStrugacz.EasyMeal</string>
	<key>PROJECT_ID</key>
	<string>easymeal-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>easymeal-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220565258355:ios:3f6d16dc394f18bd48aa06</string>
</dict>
</plist>